<head>
  <style>
    body {
      text-align: center;
    }
  </style>
</head>

<body>

  <%= @unhit_player.name %> hit <%= @hit_player.name %>!
  <br><br>

  <form action="/play">
    <button type="submit"> Return </button>
  </form>

</body>