<head>
  <style>
    body {
      text-align: center;
    }
  </style>
</head>

<body>

  <%= $player_1.name %> hit <%= $player_2.name %>!
  <br><br>

  <%= "#{$player_1.name} (#{$player_1.hp}%)" %>
  vs  
  <%= "#{$player_2.name} (#{$player_2.hp}%)" %>

</body>