<head>
  <style>
    body {
      text-align: center;
    }
  </style>
</head>

<body>

  <%= $game.player_1.name %> hit <%= $game.player_2.name %>!
  <br><br>

  <form action="/play">
    <button type="submit"> Return </button>
  </form>

</body>