<form action="/names" method="post">
  <ol>
    <li>
      <label for="player_1"> Player 1 </label>
      <input type="text" id="player_1" name="player_1">
    </li>
    <li>
      <label for="player_2"> Player 2 </label>
      <input type="text" id="player_2" name="player_2">
    </li>
    <li class="button">
      <button type="submit" id='start'> Start Battle </button>
    </li>
  </ol>
</form>