<head>
  <style>
    body {
      text-align: center;
    }
  </style>
</head>

<body>

<%= $player_1.name %> (100%)
<br><br>
vs  
<br><br>
<%= $player_2.name %> (100%)
<br><br><br><br>
<form action="/attack">
  <button type="submit"> Attack </button>
</form>

</body>