<head>
  <style>
    body {
      text-align: center;
    }
  </style>
</head>

<body>

<%= "#{$game.player_1.name} (#{$game.player_1.hp}%)" %>
<br><br>
vs  
<br><br>
<%= "#{$game.player_2.name} (#{$game.player_2.hp}%)" %>
<br><br><br><br>
<form action="/attack">
  <button type="submit"> Attack </button>
</form>

</body>